<%= form_for [:administrador, @family] do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> evitou que o nome da Familia fosse criado:</h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Familia" %>
  </div>
<% end %>
