%header
  ="<div id='fb-root'></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;  js.src = '//connect.facebook.net/pt_BR/all.js#xfbml=1';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>".html_safe
  %div.time
    -if (Time.now - Time.parse("09-11-2013")) > 0
      Agradecemos sua prenseça, estamos felizes e Casados !
    -else
      Restam 
      = distance_of_time_in_words(Time.now, Time.parse("09-11-2013"), true)
      para o Casamento
  %div.header-badge
    %span
      09.11.13
  %div.fb-like-buttom
    ="<div class='fb-like' data-send='false' data-layout='button_count' data-width='450' data-show-faces='true' data-font='arial'></div>".html_safe
%div.noivos-nome-container
  %div.curl-left.FloatLeft
  %div.noivos-nome.FloatLeft
  %div.curl-right.FloatLeft
  %span.sub-message
    Estão se Casando
%nav.main-menu
  %ul
    -site_main_menu.each do |item|
      =item.html_safe
    %li.albummenu{style: "position:relative"}
      =link_to "Álbum", "#", class: "albumlink"
      %ul
        %li
          =link_to "Noivos", "#{root_path}album/noivos"
        %li
          =link_to "Amigos", "#{root_path}album/amigos"
        %li
          =link_to "Família", "#{root_path}album/familia"
        %li
          =link_to "Padrinhos", "#{root_path}album/padrinhos"